<a href="https://colab.research.google.com/github/n28neeraj/BSE_2nd_Seesion_Tutorial/blob/main/SVD_Movie_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Singular Value Decomposition (SVD) & Its Application In Recommender System**

In [ ]:
# import pandas as pd
# pd.__version__

In [ ]:
!pip install pandas==0.23.4

Requirement already satisfied: pandas==0.23.4 in /usr/local/lib/python3.6/dist-packages (0.23.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.23.4) (2.8.1)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas==0.23.4) (2018.9)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.23.4) (1.19.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas==0.23.4) (1.15.0)

In [ ]:
#Importing Libraries
import numpy as np
import pandas as pd
#import pandas as pd
#from pandas.compat import StringIO

In [ ]:
#Reading dataset (MovieLens 1M movie ratings dataset: downloaded from https://grouplens.org/datasets/movielens/1m/)
data = pd.io.parsers.read_csv('/content/drive/MyDrive/Colab Notebooks/ml-1m/ratings.dat', 
    names=['user_id', 'movie_id', 'rating', 'time'],
    engine='python', delimiter='::')
movie_data = pd.io.parsers.read_csv('/content/drive/MyDrive/Colab Notebooks/ml-1m/movies.dat',
    names=['movie_id', 'title', 'genre'],
    engine='python', delimiter='::')

In [ ]:
data

         user_id  movie_id  rating       time
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
5              1      1197       3  978302268
6              1      1287       5  978302039
7              1      2804       5  978300719
8              1       594       4  978302268
9              1       919       4  978301368
10             1       595       5  978824268
11             1       938       4  978301752
12             1      2398       4  978302281
13             1      2918       4  978302124
14             1      1035       5  978301753
15             1      2791       4  978302188
16             1      2687       3  978824268
17             1      2018       4  978301777
18             1      3105       5  978301713
19             1      2797       4  978302039
20             1      2321       3  978302205
21             1       720       3  978300760
22             1      1270       5  978300055
23             1       527       5  978824195
24             1      2340       3  978300103
25             1        48       5  978824351
26             1      1097       4  978301953
27             1      1721       4  978300055
28             1      1545       4  978824139
29             1       745       3  978824268
...          ...       ...     ...        ...
1000179     6040      2762       4  956704584
1000180     6040      1036       3  956715455
1000181     6040       508       4  956704972
1000182     6040      1041       4  957717678
1000183     6040      3735       4  960971654
1000184     6040      2791       4  956715569
1000185     6040      2794       1  956716438
1000186     6040       527       5  956704219
1000187     6040      2003       1  956716294
1000188     6040       535       4  964828734
1000189     6040      2010       5  957716795
1000190     6040      2011       4  956716113
1000191     6040      3751       4  964828782
1000192     6040      2019       5  956703977
1000193     6040       541       4  956715288
1000194     6040      1077       5  964828799
1000195     6040      1079       2  956715648
1000196     6040       549       4  956704746
1000197     6040      2020       3  956715288
1000198     6040      2021       3  956716374
1000199     6040      2022       5  956716207
1000200     6040      2028       5  956704519
1000201     6040      1080       4  957717322
1000202     6040      1089       4  956704996
1000203     6040      1090       3  956715518
1000204     6040      1091       1  956716541
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[1000209 rows x 4 columns]

In [ ]:
movie_data

      movie_id               ...                                         genre
0            1               ...                   Animation|Children's|Comedy
1            2               ...                  Adventure|Children's|Fantasy
2            3               ...                                Comedy|Romance
3            4               ...                                  Comedy|Drama
4            5               ...                                        Comedy
5            6               ...                         Action|Crime|Thriller
6            7               ...                                Comedy|Romance
7            8               ...                          Adventure|Children's
8            9               ...                                        Action
9           10               ...                     Action|Adventure|Thriller
10          11               ...                          Comedy|Drama|Romance
11          12               ...                                 Comedy|Horror
12          13               ...                          Animation|Children's
13          14               ...                                         Drama
14          15               ...                      Action|Adventure|Romance
15          16               ...                                Drama|Thriller
16          17               ...                                 Drama|Romance
17          18               ...                                      Thriller
18          19               ...                                        Comedy
19          20               ...                                        Action
20          21               ...                           Action|Comedy|Drama
21          22               ...                          Crime|Drama|Thriller
22          23               ...                                      Thriller
23          24               ...                                  Drama|Sci-Fi
24          25               ...                                 Drama|Romance
25          26               ...                                         Drama
26          27               ...                                         Drama
27          28               ...                                       Romance
28          29               ...                              Adventure|Sci-Fi
29          30               ...                                         Drama
...        ...               ...                                           ...
3853      3923               ...                                 Horror|Sci-Fi
3854      3924               ...                                        Comedy
3855      3925               ...                                        Comedy
3856      3926               ...                              Adventure|Sci-Fi
3857      3927               ...                              Adventure|Sci-Fi
3858      3928               ...                                 Comedy|Horror
3859      3929               ...                                        Comedy
3860      3930               ...                                        Horror
3861      3931               ...                                 Horror|Sci-Fi
3862      3932               ...                                 Horror|Sci-Fi
3863      3933               ...                                 Horror|Sci-Fi
3864      3934               ...                                        Sci-Fi
3865      3935               ...                                        Horror
3866      3936               ...                                Drama|Thriller
3867      3937               ...                               Sci-Fi|Thriller
3868      3938               ...                                        Horror
3869      3939               ...                                        Horror
3870      3940               ...                                        Horror
3871      3941               ...                                        Horror
3872      3942               ...                                        Horror
3873      3943               ...                                        Comedy
3874      3944               ...                                  Comedy|Drama
3875      3945               ...                Adventure|Animation|Children's
3876      3946               ...                         Action|Drama|Thriller
3877      3947               ...                                      Thriller
3878      3948               ...                                        Comedy
3879      3949               ...                                         Drama
3880      3950               ...                                         Drama
3881      3951               ...                                         Drama
3882      3952               ...                                Drama|Thriller

[3883 rows x 3 columns]

In [ ]:
ratings_mat = np.ndarray(
    shape=(int(np.max(data.movie_id.values)), int(np.max(data.user_id.values))),
    dtype=np.uint8)
ratings_mat[data.movie_id.values-1, data.user_id.values-1] = data.rating.values

In [ ]:
#Normalizing the matrix(subtract mean off)
normalised_mat = ratings_mat - np.asarray([(np.mean(ratings_mat, 1))]).T

In [ ]:
#Computing the Singular Value Decomposition (SVD)
A = normalised_mat.T / np.sqrt(ratings_mat.shape[0] - 1)
U, S, V = np.linalg.svd(A)

In [ ]:
#Function to calculate the cosine similarity (sorting by most similar and returning the top N)
def top_cosine_similarity(data, movie_id, top_n=10):
    index = movie_id - 1 # Movie id starts from 1 in the dataset
    movie_row = data[index, :]
    magnitude = np.sqrt(np.einsum('ij, ij -> i', data, data))
    similarity = np.dot(movie_row, data.T) / (magnitude[index] * magnitude)
    sort_indexes = np.argsort(-similarity)
    return sort_indexes[:top_n]

In [ ]:
# Function to print top N similar movies
def print_similar_movies(movie_data, movie_id, top_indexes):
    print('Recommendations for {0}: \n'.format(
    movie_data[movie_data.movie_id == movie_id].title.values[0]))
    for id in top_indexes + 1:
      print(movie_data[movie_data.movie_id == id].title.values[0])

In [ ]:
#k-principal components to represent movies, movie_id to find recommendations, top_n print n results        
k = 50
movie_id = 10 # (getting an id from movies.dat)
top_n = 10
sliced = V.T[:, :k] # representative data
indexes = top_cosine_similarity(sliced, movie_id, top_n)

In [ ]:
#Printing the top N similar movies
print_similar_movies(movie_data, movie_id, indexes)

Recommendations for GoldenEye (1995):

GoldenEye (1995)
Tomorrow Never Dies (1997)
Hunt for Red October, The (1990)
Die Hard 2 (1990)
Ronin (1998)
Negotiator, The (1998)
Clear and Present Danger (1994)
Romper Stomper (1992)
Mission: Impossible (1996)
Some Folks Call It a Sling Blade (1993)